<style>
.popup-box {
	display: none;
	position: fixed;
	bottom: 2px;
	right: 2px;
	height: 26px;
	background-color: rgb(237, 239, 244);
	width: 520px;
	border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head {
	background-color: #424949;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	clear: both;
}

.popup-box .popup-head .popup-head-left {
	float: left;
}

.popup-box .popup-head .popup-head-right {
	float: right;
	opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
	text-decoration: none;
	color: inherit;
}

.popup-box .popup-messages {
	height: 100%;
	overflow-y: scroll;
}
</style>

<div class="popup-box chat-popup" id="console-div"
	style="display: block;">
	<div class="popup-head">
		<div class="popup-head-left">{$this->translate("CONSOLE")}</div>
		<div class="popup-head-right">
			<a href="javascript:minimize();">_</a>
		</div>
		<div style="clear: both"></div>
	</div>
	<div class="popup-messages" id="console-messages">{$log_text}</div>
</div>

<script>
	var minimized = true;
	
	function minimize() {
		if(minimized) {
			minimized = false;
			document.getElementById("console-div").style.height = "400px";
			document.getElementById("console-messages").style.display = 'block';
		} else {
			minimized = true;
			document.getElementById("console-div").style.height = "26px";
			document.getElementById("console-messages").style.display = 'none';
		}
	}
</script>